* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

:root {
	--gradient: linear-gradient(270deg, #22D3EE 50%, #0EA5E9 100%);
	
}

body {
	margin: auto;
	background-color: #0F172A;
	max-width: 1440px;
	height: 3100px;
}

header {
	padding: 0 100px;
	margin: 0 23px 0 31px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1386px;
	height: 112px;
}

main {
	margin-bottom: 96px;
}

h3 {
	line-height: 35.16px;
	font-size: 30px;
	background: var(--gradient);
	font-weight: 700;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

nav ul {
	width: 384px;
	height: 48px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
}

nav ul li {
	margin: 10px;
}

li a {
	font-weight: 700;
	font-size: 24px;
	color: #F8FAFC;
	text-decoration: none;
}

section	{
	max-width: 1150px;
	margin-top: 85px;
	margin-left: 135px;
}

content {
	display: flex;
}

h1 {
	color: #F8FAFC;
	font-weight: 700;
	font-size: 48px;
	line-height: 56.25px;
}

h2 {
	margin-bottom: 83px;
	font-weight: 700;
	font-size: 48px;
	line-height: 56.25px;
	color: #F8FAFC;
}

h4 {
	margin-right: 20px;
	color: #F8FAFC;
	font-weight: 500;
	font-size: 30px;
	line-height: 35.16px;
}

hr {
	border: 1px solid #CBD5E1;
	margin-bottom: 17px;
}

footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

section a img {
	margin-right: 32px;
	margin-top: 15px;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	box-shadow: 0px 0px 7px -3px white;
}

footer p {
	font-weight: 500;
	font-size: 20px;
	color: #CBD5E1;
	margin-left: 108px;
}

footer img {
	width: 44px;
	height: 44px;
	margin-left: 10px;
}

footer div {
	display: flex;
	align-items: center;
	margin-right: 112px;
}

.biography-info p {
	margin-top: 48px;
	color: #CBD5E1;
	width: 720px;
	font-weight: 500;
	font-size: 26px;
	line-height: 40.47px;
}

.biography-info p:last-child {
	margin-top: 0;
}

.starter img {
	width: 44px;
	height: 44px;
}

.proj div p {
	margin-bottom: 14px;
	font-weight: 400;
	font-size: 20px;
	line-height: 23.44px;
	color: #CBD5E1;
}

.proj-content div {
	display: flex;
	margin-bottom: 25px;
}

.green-frame span {
	background: linear-gradient(180deg, #10B981 0%, #BEF264 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.red-frame span {
	background: linear-gradient(180deg, #DC2626 0%, #F97316 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.purple-frame span {
	background: linear-gradient(180deg, #7C3AED 0%, #60A5FA 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.latest-post-head h2 {
	margin: 0;
}

.view-post p {
	font-weight: 700;
	font-size: 20px;
	line-height: 23.44px;
	color: #CBD5E1;
	margin-right: 12px;
}

.view-post img {
	width: 44px;
	height: 44px;
}

.cards img {
	width: 369px;
	height: 292px;
}

.last-section div {
	width: 50%;
}

.button-get-started input {
	background-color: #1E293B;
	border: none;
	width: 100%;
	margin: 0 25px;
	font-weight: 400;
	font-size: 20px;
	color: #CBD5E1;
}

.button-get-started input:active, .button-get-started input:hover, .button-get-started input:focus {
    outline: 0;
    outline-offset: 0;
}

.button-get-started input::placeholder {
	color: #CBD5E1;
}

.button-get-started button {
	font-weight: 700;
	font-size: 20px;
	padding: 12px 37px;
	border-radius: 30px;
	background: var(--gradient);
	color: #1E293B;
	border: none;
}

.last-section p {
	font-weight: 400;
	font-size: 20px;
	color: #CBD5E1;
}

.first-section {
	margin-bottom: 133px;
}

.second-section {
	margin-bottom: 95px;
}

.third-section {
	margin-bottom: 116px;
}

.biography-info {
	margin-right: 134px;
}

.blue-gradient-text {
	background: var(--gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.starter {
	display: flex;
	align-items: center;
	height: 44px;
}

.proj {
	margin-bottom: 41px;
	display: flex;
	align-items: center;
	background-color: #1E293B66;
	border-radius: 20px;
	max-width: 1150px;
	height: 300px;
}

.idea-lamp-img {
	margin-right: 44px;
	margin-left: 8px;
	max-width: 250px;
	max-height: 231px;
}

.loading-img {
	max-width: 200px;
	max-height: 208px;
	margin-left: 17px;
	margin-right: 76px;
}

.trophy-img {
	max-width: 150px;
	max-height: 191px;
	margin-left: 27px;
	margin-right: 106px;
}

.latest-post-head {
	display: flex;
	justify-content: space-between;
	max-width: 1150px;
	margin-bottom: 91px;
}

.view-post {
	display: flex;
	align-items: center;
	margin-right: 12px;
}

.cards {
	display: flex;
	flex-flow: row wrap;
}

.card {
	overflow: hidden;
	box-shadow: 0px 4px 10px 0px #0000001A;
	margin-right: 20px;
	background-color: #1E293B;
	border-radius: 20px;
	height: 518px;
	max-width: 369px;
}

.card:last-child {
	margin-right: 0px;
}

.card-content {
	margin: 0 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card-name {
	margin-top: 22px;
	margin-bottom: 15px;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: #F8FAFC;
}

.card-date {
	margin-bottom: 25px;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	color: #9CA3AF;
}

.card-info {
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	color: #F8FAFC;
	text-align: center;
}

.last-section {
	display: flex;
	justify-content: space-between;
}

.button-get-started {
	margin-top: 77px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 17px;
	max-width: 505px;
	height: 70px;
	border-radius: 30px;
	background-color: #1E293B;
}

.last-h2 {
	margin-bottom: 33px;
	font-weight: 500;
	font-size: 48px;
	line-height: 56.25px;
}

.git-img {
	width: 33px;
	height: 33px;
}

#green-frame {
	display: flex;
	align-items: center;
	padding: 8px;
	font-weight: 700;
	font-size: 14px;
	line-height: 16.41px;
	background: linear-gradient(180deg, rgba(16, 185, 129, 0.2) 0%, rgba(190, 242, 100, 0.2) 100%);
	border-radius: 10px;
}

#red-frame {
	display: flex;
	align-items: center;
	padding: 8px;
	background: linear-gradient(180deg, rgba(220, 38, 38, 0.2) 0%, rgba(249, 115, 22, 0.2) 100%);
	font-weight: 700;
	font-size: 14px;
	line-height: 16.41px;
	border-radius: 10px;
}

#purple-frame {
	display: flex;
	align-items: center;
	padding: 8px;
	background: linear-gradient(180deg, rgba(124, 58, 237, 0.2) 0%, rgba(96, 165, 250, 0.2) 100%);
	font-weight: 700;
	font-size: 14px;
	line-height: 16.41px;
	border-radius: 10px;
}